#root {
    min-height: 100%;
    background: #009bff;
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
    background: -o-linear-gradient(left, #0072ff, #00c6ff);
    background: -moz-linear-gradient(left, #0072ff, #00c6ff);
    background: linear-gradient(left, #0072ff, #00c6ff);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
}

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Montserrat-Regular, sans-serif;
}

.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

  }

  
.main-container {
    width: 1163px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
  
    padding: 90px 80px 88px 58px;
  }


  .form {
    width: 390px;
  } 
/*------------------------------------------------------------------
[ Img ]*/
.pic {
    width: 296px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .pic img {
    max-width: 80%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 1200px) {
    .pic {
      width: 33.5%;
    }
  
    .form {
      width: 44%;
    }
  }
  
  @media (max-width: 992px) {
    .main-container {
      padding: 90px 80px 88px 90px;
    }
  
    .pic {
      width: 35%;
    }
  
    .form {
      width: 55%;
    }
  }
  
  @media (max-width: 768px) {
    .main-container {
      padding: 90px 80px 88px 80px;
    }
  
    .pic {
      display: none;
    }
  
    .form {
      width: 100%;
    }
  }
  
  @media (max-width: 576px) {
    .main-container {
      padding: 90px 15px 88px 15px;
    }
  }
  